@media (prefers-color-scheme: light) {
:root {
      --accent-color: rgba(255, 141, 203, 1);
      --text-title-color:rgba(255, 194, 230, 1);
      --text-shadow: var(--accent-color);
      --text-main-color:rgba(53, 52, 48, 1);
      --text-color: var(--text-main-color);
      --text-box: var(--accent-color);
      --section-title: var(--text-main-color);
      --hover-color: 1px solid rgba(50, 49, 45, 0.4);
      --background-image: url(../images/cover-image-light.png);
      --background-color: #fff1f7;
      --decorated-zone: var(--text-main-color);
      --menu-button: var(--text-main-color);
  }
}

/* Остальные стили */
.page.theme_light {
  --accent-color: rgba(255, 141, 203, 1);
  --text-title-color:rgba(255, 194, 230, 1);
  --text-shadow: var(--accent-color);
  --text-main-color:rgba(53, 52, 48, 1);
  --text-color: var(--text-main-color);
  --text-box: var(--accent-color);
  --section-title: var(--text-main-color);
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --decorated-zone: var(--text-main-color);
  --menu-button: var(--text-main-color);
}

.page.theme_light .header__decor-title {
  visibility: hidden;
}