/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: IBM Plex Mono;
  background-color: var(--background-color);
  font-size: 18px;
}

/* header */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  min-height: 668px;
  background: var(--background-image) top center;
  background-size: cover;
  background-attachment: fixed;
}

@media (width >= 768px) and (width < 1024px) {
  .header {
    min-height: 1024px;
    padding: 0 10px 0 0;
  }
}
.decorated-zone::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 18px;
  left: 2px;
  width: 25.04px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

@media (width >= 768px) and (width < 1024px) {
  .decorated-zone::before {
    top: 12px;
    right: 11px;
  }

  .decorated-zone::after {
    left: 12px;
    bottom: 30px;
  }
}

.header__decor-title {
  color: var(--accent-color);
  position: absolute;
  top: 3px;
  right: 30px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
}

.header__decor-subtitle {
  position: absolute;
  top: 10px;
  right: 11px;
  border-radius: 100%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  width: 9px;
  height: 9px; 
}

@media (width >= 768px) and (width < 1024px) {
  .header__decor-title {
    top: 13px;
    right: 40px;
  }

  .header__decor-subtitle {
    top: 20px;
    right: 20px;
  }
}

.header__theme-menu {
  justify-self: end;
  padding: 5px 2px 0 0;
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  margin: 0;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  text-align: center;
  font-weight: 400;
  line-height: 100%;
  text-transform: lowercase;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--accent-color);
  font-size: inherit;
  border: none;
  padding: 0px 13px;
  min-width: 70px;
  min-height: 26px;
  cursor: pointer;
}

/* .header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
} */

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--text-title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  line-height: 95.7px;
  margin: 0;
  margin-bottom: 10px;justify-self: start;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-conteiner);
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px;
  width: 100%;
  height: fit-content;
}

@media (width >= 768px) and (width < 1024px) {
  .header__title-decor {
    justify-self: end;
    width: 49%;
  }
}

.header__title-decor {
  margin: 10px 0 40px 0;
}

/* main */

.main {
  margin-top: 19px;
  display: grid;
}

@media (width >= 768px) and (width < 1024px) {
  .main {
    margin-top: 50px;
  }
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  inline-size: 355px;
  margin-bottom: 18px;
  column-gap: 10px;
}

@media (width >= 768px) and (width < 1024px) {
  .content__section:first-child {
    grid-template-columns: 1fr 2fr;
    justify-self: center;
    width: 96%;
  }

  .content__section:nth-child(2) {
    grid-template-columns: 1fr;
    width: 97%;
    margin: 40px 0 0 12px;
  }

  .content__section:nth-child(3) {
    grid-template-columns: 1fr 2fr;
    justify-self: center;
    width: 96%;
    margin-top: 65px;
  }
}

.content {
  display: grid;
}

@media (width >= 768px) and (width < 1024px) {
  .content {
    margin-left: 10px;
  }
}

.section__title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: var(--accent-color);
  line-height: 23.4px;
}

@media (width >= 768px) and (width < 1024px) {
  .section__title {
    margin-top: 0;
    max-width: 236px;
  }
}

.section__item {
  margin-top: -15px;
  margin-bottom: 18px;
}

.section__text {
  margin: 0;
  margin-top: -8px;
  font-weight: 400;
  line-height: 23.4px;
  font-family: inherit;
}

.section__article-text-link {
  font-family: inherit;
  font-weight: 400;
  line-height: 23.4px;
  text-shadow: 3px 3px 0px var(--accent-color);
  text-decoration: none;
  color: inherit
}

/* .section__article-text-link:hover {
  border-bottom: 1px solid var(--text-main-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--text-main-color);
} */

.subtitle-decor {
  background-color: var(--accent-color);
  color: var(--text-conteiner);
  font-weight: 400;
  font-size: inherit;
  line-height: 23.4px;
  width: 100%;
  margin: 35px 0 20px 0;
}

.article__subtitle {
  margin: 16px 0 19px 0;
}

.zero__margin {
  margin: 0;
}

.content__section-img {
  display: grid;
}

.content__section-img .title-decor {
  width: 100%;
  grid-column: 1 / -1;
  margin-bottom: 0;
}

@media (width >= 768px) and (width < 1024px) {
  .content__section-img {
    width: 96%;
    margin: 25px 0 0 15px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }
}

.section__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media (width >= 768px) and (width < 1024px) {
  .content__section-img .section__img:first-of-type {
    grid-column: span 2;
  }

  .content__section-img .section__img:nth-of-type(2) {
    grid-row: span 2;
  }
  
  .content__section-img .section__img:nth-of-type(3) {
    grid-row: span 2;
  }
  .content__section-img .section__img:last-of-type {
    grid-column: span 2;
  }
}

/* footer */

.footer {
  min-height: 668px;
  position: relative;
  margin-top: 43px;
}

@media (width >= 768px) and (width < 1024px) {
  .footer {
    min-height: 1024px;
    margin-top: 75px;
  }
}

.footer__title {
  color: var(--text-title-color);
  font-weight: 700;
  font-family: inherit;
  font-size: 116px;
  line-height: 95.7px;
  margin: 0;
  height: min-content;
  top: 283px;
  left: 9px;
  position: relative;
}

@media (width >= 768px) and (width < 1024px) {
  .footer__title {
    top: 463px;
    left: 204px;
  }
}